// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poiret+One:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular);

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Montserrat";
$fontSize: 12px;

// Основные цвета
$accentColor: #4e3b34;
$fontColor: #343434;
$bgColor: #fff;

// Минимальная ширина страницы
$minWidth: 320px;
// Ширина макета
$maxWidth: 1920px;
// Ширина ограничивающего контейнера
$maxWidthContainer: 1186px;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/_null";

html {
	// Скролл заблокирован
	&.lock {
		overflow: hidden;
		touch-action: none;
	}
}

body {
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдерzов
	> * {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================
[class*="__container"] {
	margin: 0 auto;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	max-width: $maxWidthContainer;
}

//========================================================================================================================================================

@import "./_common";
@import "./_header";
@import "./_home";
// @import "./_about";
@import "./_blog";
@import "./_article";
@import "./_footer";
