[data-showmore] {
}
[data-showmore-content] {
}
[data-showmore-button] {
	span {
		margin-top: 12px;

		&:last-child {
			display: none;
		}
		._showmore-active & {
			display: none;
			&:last-child {
				display: block;
			}
		}
	}
}
